
html, body {
  margin: 0;
  padding:0;
  background: skyblue;
  color: #FFFFFF;
  font-size: 1.2em;
  text-align: center;
 }
 div{
  height: 100px;
  width: 100px;
 }
 .milieu {
   margin: 10px auto;
   height: 40px;
   width: 200px;
 }
 p{
   color: red;
}
 .color {
   background-color: olive;
  }
     
